
.navbar-wrapper{
    width: 100%;
    height: 60px;
    background-color: rgb(230, 63, 63);

}
.logo{
    color: rgb(203, 226, 192);
    font-size: 30px;
    text-align: center;
}

.Game{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    font-size: 20px;
    color: aliceblue;
}

.GameList{
    display: flex;
    align-items: center;
    gap: 10px;
}