.team1{
    margin-left: 10px;
}

.team2{
    margin-right: 10px;
}

.team_creation{
    background-color: greenyellow;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    cursor: pointer;
    border: 2px solid black;
}

.match-wrapper{
  display: flex;
  flex-wrap: wrap;
}